testing.py
report.txt
source_data/
results/
__pycache__/
test_clean.py
thria_co2.py
scipy_testing.py
conda_list
pyGAPS/
bwap_top_testing.py
tests/
analysis/
calc_0061/

# vim temporary files
[._]*.sw[a-z]
[._]sw[a-z]
*.un~
Session.vim
.netrwhist
*~
